doctype html
html
  head
    title Chat Room: #{chatroom.joinCode}
    script(src="http://code.jquery.com/jquery-1.11.1.js")
    script(src="/socket.io/socket.io.js")
    script(src="message.js")
    link(rel="stylesheet" href="chatroom.css")
  body
    if admin
      form(action="/destroy" method="POST")
        button(type="submit" id="destroyBtn") End Chat Session
    if !admin
      form(action="/leave" method="POST")
        button(type="submit" id="endBtn") Leave Chat Session
    textarea(id="chatText")
    button(id="messageButton") send message
    div(id="Users")
      ul(id="usersList")
        each user in chatroom.users
          li(class="userListItem") #{user.name}
    div(id="messagesContainer")

    script(src="windows.js")
