doctype html
html
  head
    title Chat Room: #{joinCode}
    script(src="http://code.jquery.com/jquery-1.11.1.js")
    script(src="message.js")
    script(src="/socket.io/socket.io.js")
  body
    h1(id="tester") #{admin}
    form(action="/destroy" method="POST")
      button(type="submit") End Chat Session

    form(action="/leave" method="POST")
      button(type="submit") Leave Chat Session

    textarea(id="chatText")
    button(id="messageButton") send message

    div(id="Users")
      ul(id="usersList")
        li hello
