
#chatText {
  border: 2px solid white;
  background-color: : black;
  width: 30%;
}

.userListItem {
  color: white;
}

body {
  background-color: black;
}

#messageContainer {
  width: 60%;
  height: 20px
  border: 2px solid white;
}

.messageText {
  color: white;
}
